.berhasil{
    width: 90%;
    margin: auto;
    align-items: center;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 20px;
    
}
.berhasil img{
    width: 480px;
    height: 314px;   
    padding: 20px;    
}
.berhasil h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 64px;
    width: 90%;
    margin: auto;
    padding: 10px;
}
.berhasil h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 32px;
    width: 90%;
    margin: auto;
    padding: 10px;
}